DEBUG=False
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/postgres
# Configurações do AWS
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_STORAGE_BUCKET_NAME=''
INTERNAL_IPS=127.0.0.1
SENTRY_DSN=https://aeea6662dbd642f4b4111d1c17f313e6@o1102801.ingest.sentry.io/6129309